/* ......................formSignup */
/* formSignup__title */
html,
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none !important;
}
.formSignup__title__main {
  font-size: 22px;
  color: #949494;
  font-weight: 300;
}
.formSignup__title__main span {
  color: #707070;
  font-weight: 600;
}
.formSignup__main {
  width: 25%;
  margin: 0 auto;
  max-width: 450px;
  box-shadow: 0px 1px 11px 0px #a5a4a4;
}
/* .....login */

/* ....................... */
.form-group_1 {
  padding: 25px 25px 0px 25px;
}
.formSignup__main input {
  font-size: 14px;
  font-weight: 600;
  padding: 0.6rem 0.75rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.checkBox > label,
.btn-text p {
  font-size: 14px;
  color: #cccccc;
  font-weight: 500;
}
.txt-a {
  color: #b9b9b9;
}
.btn-text button {
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 600;
  background: #a9dd7d;
}
/* .........login...... */

/* ............. */
@media only screen and (max-width: 991px) {
  .formSignup__main {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .formSignup__main {
    width: 80%;
  }
}
